{% extends 'base.html' %}


{% block content %}

    <a href="{{ url_for('newpost') }}" class="btn btn-info" > Create new Post </a>

    <h3>    user name:        {{ current_user.username }}</h3>
    <p>   E-mail address:        {{ current_user.email }}</p><hr />

    {% include 'include/error_messages.html' %}
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.email.label }} {{ form.email }}
        <input type="submit" value="Update" class="btn btn-info">
    </form>
{% endblock %}