{% extends 'base.html' %}

{% block content %}



<h3> Event name: <small> {{ form.name }}</small></h3> 


<hr />


<form action="" method="post">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>event name</h4>
            </div>
            <div class="col-sm">
                <h4>description</h4>
            </div>
            <div class="col-sm">
                <h4>start date</h4>
            </div>
            <div class="col-sm">
                <h4>end date</h4>
            </div>
            <div class="col-sm">
                <h4>capacity</h4>
            </div>
            <div class="col-sm">
                <h4>event owner</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form.name }}
            </div>
            <div class="col-sm">
                {{ form.description }}
            </div>
            <div class="col-sm">
                {{ form.startdate }}
            </div>
            <div class="col-sm">
                {{ form.enddate }}
            </div>
            <div class="col-sm">
                {{ form.capacity }}
            </div>
           
            <div class="col-sm">
                {{ form.eventowner.username }}
            </div>
        </div>
    </div>
</form>

<hr />

{% if form.eventowner == 'event_owner' or current_user.username == 'admin' %}

<a href="{{ url_for('delete', event_id=form.id) }}" class="btn btn-secondary">Delete</a>
<a href="{{ url_for('update', event_id=form.id) }}" class="btn btn-secondary">Update</a>
<br>
<br>
<small> Note: admin and event owner can edit this information </small>
{% endif %}



{% endblock %}