{% extends 'base.html' %}

{% block content %}





<div class="container">
    <div class="row">
            <div class="col-sm">
                <h4>Event name</h4>
            </div>
            <div class="col-3">
                <h4>Description</h4>
            </div>
            <div class="col-sm">
                <h4>Start date</h4>
            </div>
            <div class="col-sm">
                <h4>Dnd date</h4>
            </div>
            <div class="col-sm">
                <h4>Capacity</h4>
            </div>
            <div class="col-sm">
                <h4>Event owner</h4>
            </div>
    </div>
    <hr />
        {% for event in form %}
        <div class="row">
            <div class="col-sm">
               {{ event.name }}
            </div>
            <div class="col-3">
                {{ event.description }}
            </div>
            <div class="col-sm">
                {{ event.startdate }}
            </div>
            <div class="col-sm">
                {{ event.enddate }}
            </div>
            <div class="col-sm">
                {{ event.capacity }}
            </div>
            <div class="col-sm">
                {{ event.eventowner.username }}
            </div>
        </div>
        <hr />
        {% endfor %}

        <div class="row">
            <div>
               
                <a href="{{ url_for('paging' , move=-1) }}" class="btn btn-secondary">  Previous </a>
            </div>
            <div class="col=3">
                <a href="{{ url_for('paging' , move=1) }}" class="btn btn-secondary">  Next </a>
            </div>
        </div>
   
</div>
{% if current_user.is_authenticated %}
{% if form.username == current_user.username or current_user.username == 'admin' %}
            <a href="{{ url_for('new_event') }}" class="btn btn-secondary">create new event</a>
           
            <small> Note: admin and event owner can edit this information </small>
{% endif %}
{% endif %}

{% endblock %}