{% extends 'base.html' %}

{% block content %}
{% include 'include/error_messages.html' %}
<div class="container">
    <div class="row">
        <div>
            <h4> Define Role</h4>
        </div>
    </div>
</div>
<hr />
<form method="POST" action="">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h6> {{ form.role_name.label }} </h6>
            </div>

            <div class="col-3">
                {{ form.role_name }}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-1">
                <a href="{{ url_for('rolename', user_id=form.user_id) }}" class="btn btn-dark"> Back </a>
            </div>
            <div class="col-3">
                <input type="submit" value="Register" class="btn btn-secondary">
            </div>
        </div>
    </div>
</form>
{% endblock %}