{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4> {{ form.name.label }} </h4>
        </div>
    </div>
</div>


<hr />
<form action="" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4> participant name </h4>
            </div>
            <div class="col-3">
                <small>{{ form.name }} </small>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h4> participant email </h4>
            </div>
            <div class="col-3">
                <small>{{ form.email }} </small>
            </div>
        </div>
        <hr />
        {% if current_user.username == 'admin' %}
            <a href="{{ url_for('participant', event_id=event_id) }}" class="btn btn-dark">Back</a>
            <a href="" class="btn btn-secondary">Delete</a>
            <a href="" class="btn btn-secondary">Update</a>
        {% endif %}
    </div>

</form>
{% endblock %}