{% extends 'base.html' %}

{% block content %}

<h3> {{ form.name }} </h3>

<form action="" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4> participant name </h4>
            </div>
            <div class="col-3">
                <h4> participant email </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <small>{{ form.name }} </small>
            </div>
            <div class="col-3">
                <small>{{ form.email }} </small>
            </div>
        </div>
    </div>

</form>

<hr />
{% if form.eventowner.username == current_user.username or current_user.username == 'admin' %}
<a href="{{ url_for('delete', participant_id=form.id) }}" class="btn btn-dark">Delete</a>
<a href="{{ url_for('update', participant_id=form.id) }}" class="btn btn-secondary">Update</a>
{% endif %}


<hr />
<small> Note: admin and event owner can edit this information </small>
{% endblock %}