{% extends 'base.html' %}
{% block content %}



<form action="" method="POST">
    <div class="row">
        <div class="col-ms">
            <h3> Define participant </h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-ms">
            <h5>Event name:</h5>
        </div>
        <div class="col-2">
            <h6>  {{ event_name }} </h6>
        </div>
    </div>
  
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>name</h4>
            </div>
            <div class="col-3">
                <h4>email</h4>
            </div>
            <div class="col-3">
                <h4> Participant type </h4>
            </div>
        </div>
        <hr />
        {% for participant in form %}
        <div class="row">
            <div class="col-3">
                <a href="{{ url_for('participantDetail', participant_id=participant.id , event_id=event_id) }}"
                    class="card-body">{{
                    participant.name }}</a>
            </div>
            <div class="col-3">
                {{ participant.email }}
            </div>
            <div class="col-3">
                {{ participant.ParticipantTypes_id.type }}
            </div>
           <hr />
               
           
        </div>
        {% endfor %}
        <hr />

        <div class="row">
            <div class="col-1">
                <a href="{{ url_for('eventdetail', event_id=event_id) }}" class="btn btn-dark">
                    Back</a>
            </div>
            <div class="col-2">
              
                {% if Access  %}
                <a href="{{ url_for('new_participant', event_id=event_id, event_name=event_name) }}"
                    class="btn btn-secondary">add participant</a>
                {% endif %}
              
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col=3">
                <small> Note: admin and event owner can edit this information </small>
            </div>

        </div>
    </div>
</form>
</div>
{% endblock %}