{% extends 'base.html' %}
{% block content %}
{% include 'include/error_messages.html' %}

<div class="container">
    <div class="row">
        <div>
            <h4> Update participant information</h4>
        </div>
    </div>
</div>
<hr />
<form action="" method="POST">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row">
            <div class="col-2">
               <h5> Participant Name </h5>
            </div>
            <div>
                {{ form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
               <h5> Participant email </h5>
            </div>
            <div>
                {{ form.email}}
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-1">
                <a href="{{ url_for('participant', event_id=form.event_id.data ) }}" class="btn btn-dark">Back</a>
            </div>
            <div class="col-1">
                <a href="" class="btn btn-secondary">Delete</a>
            </div>
            <div class="col-1">
                <input type="submit" value="Update" class="btn btn-secondary">
            </div>
        </div>
    </div>
</form>
{% endblock %}