{% extends 'base.html' %}


{% block content %}



<h3> user name: {{ current_user.username }}</h3>
<p> E-mail address: {{ current_user.email }}</p>
<hr />

{% include 'include/error_messages.html' %}
<form action="" method="post">
    {{ form.csrf_token }}
    <div class="container">
        <div class="row">
            <div class="col-3">
              <h6>  {{ form.username.label }} </h6>
            </div>
            <div class="col-sm">
               <h6> {{ form.email.label }} </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                {{ form.username }}
            </div>
            <div class="col-sm">
                {{ form.email }}
            </div>
        </div>
    </div>
    <hr />
        <input type="submit" value="Update" class="btn btn-secondary">
</form>
{% endblock %}