{% extends 'base.html' %}

{% block content %}


<h3> Role Management </h3>

<form action="" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4> Role Name </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <small>{{ form.role_name }}</small>
            </div>
        </div>
    </div>
</form>


{% if current_user.username == 'admin' %}

<hr />

<a href="{{ url_for('role_delete', role_id=form.id) }}" class="btn btn-dark">Delete</a>
<a href="{{ url_for('role_update', role_id=form.id) }}" class="btn btn-secondary">Update</a>
<small> Note: admin and event owner can edit this information </small>

{% endif %}

{% endblock %}

