{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div>
            <h4> Update Event</h4>
        </div>
    </div>
    <hr />
    <form method="post" action="">
        {{ form.csrf_token }}

        <div class="row">
            <div class="col-2">
                {{ form.name.label }}
            </div>
            <div class="col-4">
                {{ form.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.description.label }}
            </div>
            <div class="col-4">

                {{ form.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.startdate.label }}
            </div>
            <div class="col-4">
                {{ form.startdate }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.enddate.label}}
                
            </div>
            <div class="col-4">
                {{ form.enddate }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.capacity.label }}
                
            </div>
            <div class="col-4">
                {{ form.capacity }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                Event Owner
              
            </div>
            <div class="col-4">
              {{ form.users }}
            </div>
        </div>
       

        <hr />
        <div class="row">
          

            <div class="col-1">
                <a href="{{ url_for('eventdetail', event_id=form.event_id.data) }}" class="btn btn-dark"> Back </a>
            </div>
         
            {% if  Access %}
            <div class="col-1">
                <input type="submit" value="Update" class="btn btn-secondary">
            </div>
            {% endif %}
        </div>
    </form>
</div>



{% endblock %}