{% extends 'base.html' %}

{% block content %}
{% include 'include/error_messages.html' %}
<div class="container">
    <div class="row">
        <div>
            <h4> Assign Role </h4>
        </div>
    </div>
</div>
<hr />

<form action="" method="post">
  
    <div class="container">
        <div class="row">
            <div class="col-3">

                <h6> User name</h6>
            </div>
            <div class="col-sm">
              
                {{ form.username }}
               
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <h6> User Roles</h6>
            </div>
            <div class="col-sm">
              
                {{ form.roles }}
               
            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <h6> Select new Role</h6>
            </div>
            <div class="col-sm">
                {{ form.role }}
            </div>
        </div>
    </div>

    <hr />

    {% if current_user.username == 'admin' %}
   
    <br>
    <br>
    <small> Note: admin and event owner can edit this information </small>
    {% endif %}
</form>

  


{% endblock %}