{% extends 'base.html' %}

{% block content %}
{% include 'include/error_messages.html' %}
<div class="container">
    <div class="row">
        <div>
            <h4> Assign Role </h4>
        </div>
    </div>
</div>
<hr />

<form action="" method="POST">

    <div style="display: none;">
        {{ form.user_id }}
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">

                <h6> User name</h6>
            </div>
            <div class="col-sm">

                {{ form.username }}

            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <h6> User Roles</h6>
            </div>
            <div class="col-sm">

                {{ form.roles }}

            </div>
        </div>
        <div class="row">
            <div class="col-3">

                <h6> Select new Role</h6>
            </div>
            <div class="col-sm">
                {{ form.role }}
            </div>
        </div>
    </div>

    <hr />

    {% if current_user.username == 'admin' %}
    <a id="hrefDelete" href="{{ url_for('roles_delete', user_id=form.user_id, role_id=1) }}"
        class="btn btn-dark">Delete</a>
    <a id="hrefInsert" href="{{ url_for('roles_insert', user_id=form.user_id, role_id=1) }}"
        class="btn btn-secondary">Insert</a>
    <br>
    <br>
    <small> Note: admin and event owner can edit this information </small>
    {% endif %}
</form>

<script>
    let role_select = document.getElementById('role');
    let hrefDelete = document.getElementById('hrefDelete');
    let hrefInsert = document.getElementById('hrefInsert');

    role_select.onchange = function () {
        let regexdel = new RegExp("\\d*/delete");
        let regexinst = new RegExp("\\d*/insert");
        var varrole = role_select.value;
        document.getElementById('hrefDelete').href = hrefDelete.href.replace(regexdel, +varrole + '/delete')
        document.getElementById('hrefInsert').href = hrefInsert.href.replace(regexinst, +varrole + '/insert')
    }
</script>



{% endblock %}