<!-- <div class="card text-center">

    <div class="card-body">
        <h6 class="card-title">Special title treatment</h5>
        <small class="card-text">With supporting text below as a natural lead-in to additional content.</small>
        <a href="https://www.nexr-technologies.com/" class="text-primary">nexr-technologies</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div> -->



<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h6 class="text-uppercase">Footer Content</h6>
  
          <small>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
            molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
            voluptatem veniam, est atque cumque eum delectus sint!
          </small>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase">Links</h6>
  
          <ul class="list-unstyled mb-0">
            <li>
                <a href="#!" class="text-dark">virtaul seminar</a>
              </li>
              <li>
                <a href="#!" class="text-dark">shark tank</a>
              </li>
              <li>
                <a href="#!" class="text-dark">Pan pot</a>
              </li>
              <li>
                <a href="#!" class="text-dark">3D Ghraph</a>
              </li>
           
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h6 class="text-uppercase mb-0">Links</h6>
  
          <ul class="list-unstyled">
            <li>
                <a href="https://www.nexr-technologies.com/" class="text-dark">nexr-technologies</a>
              </li>
              <li>
                <!-- <a href="#!" class="text-dark">Link 2</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-dark">Link 3</a> -->
              </li>
              <li>
                <!-- <a href="#!" class="text-dark">Link 4</a> -->
              </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">nexr-technologies.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->